# The CDDL parser used by Strudy is written in Python.
# This file sets the version of the CDDL parser run by Strudy and makes it
# possible for Dependabot to detect and propose updates.
cddlparser==0.4.0